* {
  box-sizing: border-box;
}

#downloadlink {
  text-align: center;
  color: white;
}

html,
body {
  background-color: #253031;
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.center {
  align-self: center;
}

.flow-right {
  display: flex;
  justify-content: space-around;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: #2978a0;
  height: 100vh;
  border-radius: 25px;
}

.title,
.controls,
.button {
  flex: none;
}

.button {
  padding: 10px 20px;
  width: 200px;
  border-radius: 50px;
  background: #315659;
  color: #fff;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}

.button:hover {
  background: #253031;
  opacity: 0.9;
  transition: all 0.5s ease-in-out;
}

.btn-span {
  text-align: center;
}

.todo-list {
  flex: 1 1 0;
  margin-top: 20px;
  padding: 20px;
  overflow-y: auto;
}

.todo-delete {
  margin: 10px;
}

.todo-checkbox {
  margin: 10px;
}

.todo-container {
  padding: 20px;
  border-bottom: 1px solid #333;
}

.todo-container:first-of-type {
  border-top: 1px solid #333;
}

input#myTask {
  height: 7%;
  margin: 20px;
}

.mailbtn {
  padding-top: 15px;
  /* display: none; */
  align-self: center;
}
